@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.bg-red{
    background-color: #ff4a57;
    color: #fff;
}
.text-red{
    color: #ff4a57;
}
.bg-halka-red{
    background-color: #ffeddf;
}
.hero-section{
    background-image: url(./img/bg-slider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
}
.hero-content h1{
    font-size: 55px;
}
.card-hover{
    transition: .5s;
}
.card-hover:hover{
    background-color: #ff4a57;
    color: #fff;

}
.search-btn{
    background-color: #ff4a57;
    color: #fff;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: .7rem;
}
.comon-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    transition: .5s;
    background-color:#e0dfee;
}
.card-hover:hover .comon-btn{
    color: #ff4a57;
    background-color: #fff;
}
.about-section h1{
    font-size: 60px;
}
.logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    transition: .5s;
    border: 1px solid #e0dfee;
    color: #000;
    
}
.solved-section button{
    border: 1px solid #e0dfee;
    padding: 25px 60px;
    border-radius: 40px;
}
.list ul{
    list-style: none;
}
.list ul li{
    font-size: 15px;
    color: #858585;
    line-height: 35px;

}
/* mwdia quere */
@media only screen and(max-width :768px) {
    .hero-content h1{
        font-size: 20px;
    }
    .about-section h1{
        font-size: 20px;
    }
    
}